/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* SETUP */

html, body, section, article,
h1, h2, p, strong, em, a, ul, div {
 margin: 0;
 border: 0;
 padding: 0;
 outline: 0;

 box-sizing: inherit;
 font: inherit;
 text-decoration: inherit;
 text-align: inherit;
 color: inherit;

 background: transparent;
 list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* DEFAULT BACKGROUND */

body {
  background: lightgrey;
}

/* NAVIGATION */

.nav-container {
  background: #212223;
}

.nav {
  width: 980px;
  margin: 0 auto;
  height: 34px;
}

.nav li {
  float: left;
  height: 24px;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
}

.nav li:hover {
  background: #545454;
  cursor: pointer;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.nav-options > li {
  float: left
}

/* HEADER */

.header-container {

}

.header {
  width: 980px;
  margin: 0 auto;
  height: 100px;
}

/* CONTENT */
.content-container {
  background: #fdfdfd;
  box-shadow: 0 0px 10px rgba(0,0,0,0.5);
}

.content-wrap {
  width: 980px;
  margin: 0 auto;
}

  /* COMMUNITIES */

  .community-tile-container {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
  }

  .community-tile {
    width: 100px;
    height: 100px;

    background: grey;
    border-radius: 20px;
  }

/* FOOTER */

.footer-container {

}

.footer {
  padding-top: 10px;
  width: 980px;
  margin: 0 auto;
}

/* DELETE FOR TESTING ONLY */

.content-container li {
  background: lightblue;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

.content-container li:hover {
  background: white;
  cursor: pointer;
}
